h1 {  
    text-align: center;  
    padding: 23px;  
    background-color: #6E6D69;  
    color: white;  
    }  
  
#clear{  
width: 270px;  
border: 3px solid #6E6D69;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: #7c7366;  
}  
  
.formstyle  
{  
width: 280px;  
height: 570px;  
margin: auto;  
border: 3px solid #6E6D69;  
border-radius: 5px;  
padding: 20px;  
}  
  
  
  
input  
{  
width: 20px;  
background-color: #DDB2B5;  
color: white;  
border: 3px solid gray;  
    border-radius: 5px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px;  
}  
  
  
#calc{  
width: 230px;  
border: 5px solid #6E6D69;  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
}  